#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.carousel {
  cursor: grab;
}

.testimonials-heading {
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  margin-bottom: 90px;
}

.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.testimonial-box {
  flex-basis: calc(50% - 80px);
  position: relative;
  width: 732px;
  height: 385px;
  margin: 0 17.5px;
  cursor: pointer;
  background: rgba(16, 20, 24, 0.70);
  position: relative; 
  padding: 38px 68px;
}

.profile-img {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 51px;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: var(--color-light);
}

.reviews {
  color: var(--color-light);
margin-top: 10px;
}

.box-top {
  display: flex;
  align-items: center;
}

.client-comment p {
  color: var(--color-light);
  margin-top: 37px;

}

.product-carousel {
  position: relative;
  overflow: hidden;
}

.product-container {
  display: flex;
  scroll-behavior: smooth;
}















